<% layout('./layout/boilerplate') %>
<div class="row">
  <h1 class="text-center">New Campground</h1>
  <div class="col-6 offset-3">
    <form
      action="/campgrounds"
      method="post"
      class="needs-validation"
      novalidate
      enctype="multipart/form-data"
    >
      <div class="mb-2">
        <label for="title" class="form-lable">Title</label>
        <input
          type="text"
          class="form-control"
          name="campground[title]"
          id="title"
          placeholder="Title"
          required
        />
        <div class="valid-feedback">Looks good!</div>
      </div>
      <div class="mb-2">
        <label for="location" class="form-lable">Location</label>
        <input
          type="text"
          class="form-control"
          name="campground[location]"
          id="location"
          placeholder="location"
          required
        />
        <div class="valid-feedback">Looks good!</div>
      </div>
      <div class="mb-2">
        <label for="price" class="form-lable">Campground Price</label>
        <div class="input-group mb-2">
          <span class="input-group-text" id="price-lable">$</span>
          <input
            type="text"
            class="form-control"
            name="campground[price]"
            id="price"
            aria-label="price-lable"
            required
          />
          <span class="input-group-text" id="price-lable">.00</span>
          <div class="valid-feedback">Looks good!</div>
        </div>
        <div class="mb-2">
          <label for="image" class="form-label">Upload new campsite </label>
          <input
            class="form-control"
            type="file"
            id="image"
            name="image"
            multiple
          />
        </div>
        <label for="description" class="form-lable">Description</label>
        <input
          type="text"
          class="form-control"
          name="campground[description]"
          id="description"
          placeholder="description"
          required
        />
        <div class="valid-feedback">Looks good!</div>
      </div>
      <button class="btn btn-success btn-sm">Add campsite</button>
    </form>
    <a class="btn btn-info btn-md mt-2" href="/campgrounds"
      >Back to Campgrounds</a
    >
  </div>
</div>
