<% layout('./layout/boilerplate') -%>
<h1>New Camp_Site:</h1>
<form action="/campgrounds" method="post">
   <div>
      <label for="title">Title</label>
      <input type="text" name="campground[title]" id="title" />
   </div>
   <div>
      <label for="location">Location</label>
      <input type="text" name="campground[location]" id="location" />
   </div>
   <button>Add campsite</button>
</form>
<footer><a href="/campgrounds">Back to Campgrounds</a></footer>
