<% layout('./layout/boilerplate') -%>
<div class="row">
   <h1 class="text-center">New Campground</h1>
   <div class="col-6 offset-3">
      <form action="/campgrounds" method="post">
         <div class="mb-2">
            <label for="title" class="form-lable">Title</label>
            <input
               type="text"
               class="form-control"
               name="campground[title]"
               id="title"
               placeholder="Title"
            />
         </div>
         <div class="mb-2">
            <label for="location" class="form-lable">Location</label>
            <input
               type="text"
               class="form-control"
               name="campground[location]"
               id="location"
               placeholder="location"
            />
         </div>
         <div class="mb-2">
            <label for="image" class="form-lable">Image Url</label>
            <input
               type="text"
               class="form-control"
               name="campground[image]"
               id="image"
               placeholder="image"
            />
         </div>
         <div class="mb-2">
            <label for="price" class="form-lable">Campground Price</label>
            <div class="input-group mb-2">
               <span class="input-group-text" id="price-lable">$</span>
               <input
                  type="text"
                  class="form-control"
                  name="campground[price]"
                  id="price"
                  aria-label="price-lable"
               />
               <span class="input-group-text" id="price-lable">.00</span>
            </div>
            <label for="description" class="form-lable">Description</label>
            <input
               type="text"
               class="form-control"
               name="campground[description]"
               id="description"
               placeholder="description"
            />
         </div>
         <button class="btn btn-success btn-sm">Add campsite</button>
      </form>
      <a class="btn btn-info btn-md mt-2" href="/campgrounds"
         >Back to Campgrounds</a
      >
   </div>
</div>
